
---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$text-color:       #111 !default;
$background-color: #014bfd !default;

.button {
    background-color: #3678f7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }